body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.check-movie-btn {
  position: absolute;
  color: rgb(80, 138, 125);
  background-color:  white;
  border-radius: 20px;
  border: rgb(80, 138, 125) 1px solid;
  padding:  10px 20px 10px 20px;
  left: 660px;
  top:360px;
  text-decoration: none;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  color: white;
  top: 120px;
  left: 630px;
  font-size:100px;
  width: 200px;
  letter-spacing: -3px;
  line-height: 110px;

}
.background-image{
  max-width: 300%;
  position: relative;
  background-image: url(../images/cinema.jpg);
  background-size: cover;

}
a {
  color: #00B7FF;
}
